In [1]:
import pandas as pd

In [2]:
path = 'data\provinces-svg.txt'

In [26]:
data = pd.read_csv(path,sep=':', header=None, index_col=0)

In [28]:
data.to_dict('series')

{1: 0
 Bacolod               M 97 93.4 L 98.5 94.3 L 97.9 94.7 L 97.6 95 L...
 Negros Occidental     M 97 93.4 L 98.5 94.3 L 97.9 94.7 L 97.6 95 L...
 Negros Oriental       M 100.6 96.7 L 99.9 96.4 L 98.8 96.4 L 99.4 9...
 Guimaras              M 94.3 93.2 L 94.8 93.5 L 95 94.5 L 94 96.1 L...
 Iloilo City           M 90.2 87.9 L 90.8 89.4 L 91.3 88.7 L 96.1 89...
                                            ...
 Taguig                M 26.9 41.5 L 30.2 39.7 L 29.7 38.7 V 37.9 L ...
 Pasay                 M 21.5 36.9 H 23.5 L 25 38.9 V 40.2 L 25.5 41...
 Paranaque             M 20.6 41.4 L 23.5 40.9 L 23.5 44.6 L 28.9 45...
 Las Pinas                M 20.8 47.5 L 27 55.3 L 24.3 62 L 18.1 49.9 Z
 Muntinlupa            M 31.6 50.6 L 30.1 51.2 L 30 54 L 27 55.3 L 2...
 Name: 1, Length: 109, dtype: object}

In [13]:
a = data.values.tolist()

In [16]:
a[0][1]

' M 97 93.4 L 98.5 94.3 L 97.9 94.7 L 97.6 95 L 97.1 95 L 96.7 94.6 Z'

In [1]:
import pandas as pd

In [4]:

df = pd.read_excel('PH_Electoral.xlsx', sheet_name='2004_Presidential', index_col=0)

In [5]:
df

,Gloria Macapagal Arroyo,Fernando Poe Jr.,Panfilo Lacson,Raul Roco,Eddie Villanueva
Province,,,,,
Abra,32644,50866,11256,2251,3741
Agusan del Norte,138402,66125,12585,7152,18680
Agusan del Sur,100998,61949,10905,4643,15649
Aklan,87197,84080,11247,8830,10158
Albay,172777,74711,23079,197345,11802
...,...,...,...,...,...
Zambales,75085,146974,34540,12846,14669
Zamboanga del Norte,207175,107330,8750,11086,13467
Zamboanga del Sur,203122,96556,9654,5632,20213
Zamboanga City,61705,142236,29422,7472,8311
Zamboanga Sibugay,65836,95677,3913,2707,14077

In [7]:
list(df.idxmax(axis=1))

['Fernando Poe Jr.',
 'Gloria Macapagal Arroyo',
 'Gloria Macapagal Arroyo',
 'Gloria Macapagal Arroyo',
 'Raul Roco',
 'Gloria Macapagal Arroyo',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Gloria Macapagal Arroyo',
 'Fernando Poe Jr.',
 'Gloria Macapagal Arroyo',
 'Fernando Poe Jr.',
 'Gloria Macapagal Arroyo',
 'Gloria Macapagal Arroyo',
 'Gloria Macapagal Arroyo',
 'Gloria Macapagal Arroyo',
 'Gloria Macapagal Arroyo',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Raul Roco',
 'Gloria Macapagal Arroyo',
 'Gloria Macapagal Arroyo',
 'Fernando Poe Jr.',
 'Panfilo Lacson',
 'Gloria Macapagal Arroyo',
 'Gloria Macapagal Arroyo',
 'Gloria Macapagal Arroyo',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Gloria Macapagal Arroyo',
 'Gloria Macapagal Arroyo',
 'Gloria Macapagal Arroyo',
 'Gloria Macapagal Arroyo',
 'Gloria Macapagal Arroyo',
 'Fernando Poe Jr.',
 'Gloria Macapagal Arroyo',
 'Gloria Macapagal Arroyo',
 'Gloria Macapagal Arroyo',
 'Fernando Poe Jr.',
 'Gloria Macapagal Arroyo',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Gloria Macapagal Arroyo',
 'Gloria Macapagal Arroyo',
 'Gloria Macapagal Arroyo',
 'Fernando Poe Jr.',
 'Gloria Macapagal Arroyo',
 'Fernando Poe Jr.',
 'Gloria Macapagal Arroyo',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Gloria Macapagal Arroyo',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Gloria Macapagal Arroyo',
 'Gloria Macapagal Arroyo',
 'Gloria Macapagal Arroyo',
 'Gloria Macapagal Arroyo',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Gloria Macapagal Arroyo',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Gloria Macapagal Arroyo',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Gloria Macapagal Arroyo',
 'Gloria Macapagal Arroyo',
 'Gloria Macapagal Arroyo',
 'Gloria Macapagal Arroyo',
 'Gloria Macapagal Arroyo',
 'Gloria Macapagal Arroyo',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.',
 'Gloria Macapagal Arroyo',
 'Gloria Macapagal Arroyo',
 'Fernando Poe Jr.',
 'Fernando Poe Jr.']

In [8]:
df_2 = df = pd.read_excel('PH_Electoral.xlsx', sheet_name='2004_Reps', index_col=0)

In [9]:
df_2

                     Electors
Province
Abra                        1
Agusan del Norte            2
Agusan del Sur              1
Aklan                       1
Albay                       3
...                       ...
Zambales                    2
Zamboanga City              1
Zamboanga del Norte         3
Zamboanga del Sur           2
Zamboanga Sibugay           1

[101 rows x 1 columns]